.App {
  text-align: center;
  padding: 20px;
  width: auto;
  margin-left: 0px;
}

.push {
  text-align: center;
  padding: 20px;
  width: auto;
  margin-left: 200px;
}


.menu {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#9c4c9c;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0e16b3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
