.App {
  transition: margin-left .5s;
  text-align: center;
  padding: 20px;
  width: auto;
  margin-left: 0px;
}

.push {
  transition: margin-left .5s;
  text-align: center;
  padding: 20px;
  width: auto;
  margin-left: 200px;
}


.menu {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#9c4c9c;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0e16b3;
}


.close {
    position: absolute;
    bottom: 30px;
    right: 0;
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 90px;
    outline: none;
    overflow: hidden;
    padding: 10px 0 0;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in;
    width: 100px;
  }

  .close::before,
  .close::after {
    background-color: white;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all .2s ease-in;
    width: 141.4214px;
    z-index: -1;
  }

  .close::before {
    top: 0;
    transform: rotate(45deg);
  }

  .close::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .close:hover {
    color: #8A2387;
  }

  .close:hover::before,
  .close:hover::after {
    height: 50px;
    transform: rotate(0deg);
  }
